body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:0px;
    padding:0px;
    display: grid;
}
    
.topBar{
    display: flex;
    height: 275px;
    width: 100%;
    overflow: hidden;
    z-index:-1;
    position: relative;
    justify-content: center;
}

.topbar-pic{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top-header{
    color: white;
    position: absolute;
    top: 100px;
    font-size: 40px;
    text-shadow: 3px 5px 3px black;
}

.anna {
    overflow: hidden;
    position: absolute;
    top: 25px;
    left: 10%;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    text-shadow: 3px 5px 3px black;
}

.topnav {
    overflow: hidden;
    position: absolute;
    top: 30px;
    right: 10%;
}

.topnav a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-shadow: 3px 5px 3px black;
}

.topnav a:hover {
    text-shadow: 3px 5px 3px white;
}

.bottomnav-cont{
    height:80px;
    position: relative;
    /* background-color: rgb(78, 78, 78); */
    background-color: #465680;
    /* margin-top: 50px; */
    float: left;
    width: 100%;
}

.bottomnav {
    overflow: hidden;
    position: absolute;
    bottom: 15px;
    right: 10%;
}

.bottomnav a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-shadow: 3px 5px 3px black;
}

.bottomnav a:hover {
    text-shadow: 3px 5px 3px white;
}

.options-box{
    height: 300px;
    width: 900px;
    background-color: white;
    display: flex;
    margin: auto;
    margin-top: -65px;
    z-index: 1;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.options-box2{
    height: 300px;
    width: 900px;
    background-color: white;
    display: flex;
    margin: auto;
    z-index: 1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.option1{
    float: left;
    overflow: hidden;
    margin: 1% .5% .5% 1%;
    width: 38%; 
    position: relative;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}

.option2{
    float: left;
    overflow: hidden;
    margin: 1% 1% .5% .5%;
    width: 59%; 
    position: relative;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}

.option3{
    float: left;
    overflow: hidden;
    margin: .5% 0% 1% 1%;
    width: 53%; 
    position: relative;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}
.option4{
    float: left;
    overflow: hidden;
    margin: .5% 0% 1% 1%;
    width: 34%; 
    position: relative;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}

.option5{
    float: left;
    overflow: hidden;
    margin: .5% 1% 1% 1%;
    width: 15%; 
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}

.about-me-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1s ease;
}

.about-me-img:hover{
    transform: scale(1.05);
}

.portfolio-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1s ease;
}

.portfolio-img:hover{
    transform: scale(1.05);
}

.goals-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1s ease;
}

.goals-img:hover{
    transform: scale(1.05);
}

.interests-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1s ease;
}

.interests-img:hover{
    transform: scale(1.05);
}

.bottom-left-text{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 30px;
    text-shadow: 3px 5px 3px black;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 122.5px 122.5px 40px;
    height: 285px;
}
  
.grid-item {
    overflow: hidden;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}

.icon{
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
    transition: transform 1s ease;
}

.icon:hover{
    transform: scale(1.05);
}

.testtxt{
    border: black solid 5px;
    height: 300px;
    width: 300px;
    float: left;
    display: block;
}

.testpics{
    border: black solid 5px;
    height: 300px;
    width: 300px;
    float: left;
    display: block;
}

.photo-credit-button{
    width: fit-content;
}
