.writing{
    display: none;
}

@media only screen and (min-width: 600px) { 
.grid-container-3 {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 250px 250px 250px;
    height: 250px;
    width: 900px;
    justify-self: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.grid-container-4 {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 250px;
    height: 300px;
    width: 1200px;
    justify-self: center;
    margin-top: 20px;
}
  
.grid-item-3 {
    overflow: hidden;
    margin: 5px;
    position: relative;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}

.grid-container-port {
    display: grid;
    grid-template-columns: 600px 350px ;
    grid-template-rows: auto;
    height: auto;
    width: auto;
    justify-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border: black;
}

.grid-item-port {
    display: grid;
    height: auto;
    width: auto;
    justify-self: center;
}

.bottom-left-text-port{
    position: absolute;
    bottom: 16px;
    left: 16px;
    color: white;
    font-size: 20px;
    text-shadow: 3px 5px 3px black;
}

.showcase{
    height: 400px;
    width: 900px;
    display: flex;
    margin: auto;
    background-color: white;
    margin-top: -65px;
    z-index: 1;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}

.showcase-img{
    float: left;
    overflow: hidden;
    margin: 1% 1% 1% 1%;
    width: 98%; 
    position: relative;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}

.-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.writing{
    width: 100%;
    display: grid;
}

.more-projects{
    margin-top: 20px;
    background-color: #8c9cc67c;
    display: grid;
}

.more-proj-h2{
    justify-self: center;
}

.proj-img{
    width: 95%;
    margin-top: 10px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    /* border: solid black 3px; */
}

.caption{
    font-size: 12px; 
    justify-self: center;
    margin-top: 5px;
}

.photo-creds{
    height: 250px; 
    justify-self: center; 
    margin-top: 50px; 
    margin-bottom: 10px;
}

}